Source: ros-lyrical-py-trees-ros
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-setuptools, ros-lyrical-geometry-msgs, ros-lyrical-py-trees, ros-lyrical-py-trees-ros-interfaces, ros-lyrical-rcl-interfaces, ros-lyrical-rclpy, ros-lyrical-ros2topic, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-std-srvs, ros-lyrical-tf2-ros-py, ros-lyrical-unique-identifier-msgs, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://py-trees-ros.readthedocs.io/en/release-1.2.x/
Standards-Version: 3.9.2

Package: ros-lyrical-py-trees-ros
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-lyrical-geometry-msgs, ros-lyrical-py-trees, ros-lyrical-py-trees-ros-interfaces, ros-lyrical-rcl-interfaces, ros-lyrical-rclpy, ros-lyrical-ros2topic, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-std-srvs, ros-lyrical-tf2-ros-py, ros-lyrical-unique-identifier-msgs, ros-lyrical-ros-workspace
Description: ROS2 extensions and behaviours for py_trees.
