Source: ros-iron-py-trees-ros
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-setuptools, ros-iron-geometry-msgs, ros-iron-py-trees, ros-iron-py-trees-ros-interfaces, ros-iron-rcl-interfaces, ros-iron-rclpy, ros-iron-ros2topic, ros-iron-sensor-msgs, ros-iron-std-msgs, ros-iron-tf2-ros-py, ros-iron-unique-identifier-msgs, ros-iron-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://py-trees-ros.readthedocs.io/en/release-1.2.x/
Standards-Version: 3.9.2

Package: ros-iron-py-trees-ros
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-iron-geometry-msgs, ros-iron-py-trees, ros-iron-py-trees-ros-interfaces, ros-iron-rcl-interfaces, ros-iron-rclpy, ros-iron-ros2topic, ros-iron-sensor-msgs, ros-iron-std-msgs, ros-iron-tf2-ros-py, ros-iron-unique-identifier-msgs, ros-iron-ros-workspace
Description: ROS2 extensions and behaviours for py_trees.
